.todo{
    width: 100%;
    height: 100%;
}
.todo__header{
    color: rgb(101, 40, 158);
    background: rgb(154, 215, 97) ;
    border: 1px solid black;
    padding: 20px;
}
@media (max-width: 425px){
    .todo__header{
        font-size: xx-small;
    }
}
@media (min-width: 768px){
    .todo{
        margin: 10px ;
    }
}
    /* After break past the 768px width 
    and get screen bigger have space between todos*/